# Django
DEBUG=True
SECRET_KEY=change-me-in-production-please
ALLOWED_HOSTS=*

# PostgreSQL
DB_NAME=fabric_arabi
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# Frontend origin
FRONTEND_URL=http://localhost:3000